@font-face {
  font-family: 'DINNextArabicBold';
  src: url('assets/ArbFONTS-DINNextLTArabic-Bold-2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'MyCustomFont', Arial, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.weglot-container {
  display: none !important;
}

body.arabic {
  font-family: 'DINNextArabicBold', sans-serif;
}
